pip install git+https://github.com/deepset-ai/haystack.git
pip install urllib3==1.25.4
pip install torch==1.6.0+cu101 torchvision==0.6.1+cu101 -f https://download.pytorch.org/whl/torch_stable.html
pip install farm-haystack